{% 
set pages = [{
    'id_page': 1,
    'href_page': url_for('page_to_render', page_name='presence_weekday'),
    'name_page': 'Presence by weekday'
    }, {
    'id_page': 2,
    'href_page': url_for('page_to_render', page_name='mean_time_weekday'),
    'name_page': 'Presence mean time'
    }, {
    'id_page': 3,
    'href_page': url_for('page_to_render', page_name='presence_start_end'),
    'name_page': 'Presence start-end'
}]
%}

<!doctype html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <title>Presence analyzer</title>
    <meta name="keywords" content="" />
    <meta name="description" content=""/>
    <meta name="author" content="STX Next sp. z o.o."/>
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    
    <link href="{{ url_for('static', filename='/css/normalize.css') }}" media="all" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='/css/style.css') }}" media="all" rel="stylesheet" type="text/css" />
    <script src="{{ url_for('static', filename='/js/jquery.min.js') }}"></script>
    {% block javascript %}{% endblock %}
</head>

<body>
    <div id="main">
        <div id="header">
            <h1>Presence analyzer</h1>
            <ul>
                {% for page in pages %}
                    {% if page['id_page'] == active_page %}
                        <li id="selected">
                    {% else %}
                        <li>
                    {% endif %}
                            <a href="{{ page['href_page'] }} "> 
                                {{ page['name_page'] }}
                            </a>
                        </li>
                {% endfor %}
            </ul>
           
        </div>

        <div id="content">
            <h2>{% block title %}{% endblock %}</h2>
            <p>
                <select id="user_id" style="display: none">
                    <option value="">--</option>
                </select>
                <div id="chart_div" style="display: none">
                </div>
                <div id="loading">
                    <img src="{{ url_for('static', filename='/img/loading.gif') }}" />
                </div>
            </p>
        </div>

    </div>
</body>
